.navbar {
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: .1rem;
}
.nav-item {
    padding: .5rem;
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

.header {
    background: linear-gradient(135deg, #f1fbf2, #b6fe9c);
    padding: 200px;
    font-family: 'Source Sans Pro', sans-serif;
}

.team-info {
    background-color: #212529;
    color: white;
    text-align: center;
    padding: 20px;
}

.row {
    animation: 1s ease-out 0s 1 slideInLeft;
}
body {
    margin: 0;
}